<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <table class="table table-hover">
        <caption>图片数据根据城市比对</caption>
        <tr>
            <th>城市</th>
            <th>总数\城市</th>
            <th>mysql数量</th>
            <th>redis数量</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        <tr>
            <td >城市名</td>
            <td >总数</td>
            <td ><!--{$result.mysql_total_count}--></td>
            <td ><!--{$result.redis_total_count}--></td>
            <td ><!--{$result.msg}--></td>
            <td ></td>
        </tr>
        <!--{foreach $result.data key=key item=item}-->
            <tr>
                <td><!--{$item.city_cn}--></td>
                <td><a href="/tool/redispicdiff/housesite?site=<!--{$key}-->" target="_blank"><!--{$key}--></a></td>
                <td><!--{$item.mysql}--></td>
                <td><!--{$item.redis}--></td>
                <td><!--{$item.msg}--></td>
                <td>
                    <a href="/cron/picture/refresh?is_delete=1&city=<!--{$key}-->" target="_blank">重跑</a>
                    <!--| <a href="/cron/picture/refresh?is_delete=1&city=&lt;!&ndash;{$key}&ndash;&gt;" target="_blank">先删再重跑</a>-->
                </td>
            </tr>
        <!--{/foreach}-->
    </table>
</div>

