<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>基本地图展示</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=53beaa5a1230583cf765c3d3b1be07cb"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>
<body>
<div id="container"></div>

<script>

$.toJSON = typeof JSON === 'object' && JSON.stringify  
? JSON.stringify  
: function(o) {  
 if (o === null) {  
  return 'null';  
 }  
 var type = typeof o;  
 if (type === 'undefined') {  
  return undefined;  
 }  
 if (type === 'number' || type === 'boolean') {  
  return '' + o;  
 }  
 if (type === 'string') {  
  return $.quoteString(o);  
 }  
 if (type === 'object') {  
  if (typeof o.toJSON === 'function') {  
   return $.toJSON(o.toJSON());  
  }  
  if (o.constructor === Date) {  
   var month = o.getUTCMonth() + 1, day = o.getUTCDate(), year = o  
     .getUTCFullYear(), hours = o.getUTCHours(), minutes = o  
     .getUTCMinutes(), seconds = o.getUTCSeconds(), milli = o  
     .getUTCMilliseconds();  
   if (month < 10) {  
    month = '0' + month;  
   }  
   if (day < 10) {  
    day = '0' + day;  
   }  
   if (hours < 10) {  
    hours = '0' + hours;  
   }  
   if (minutes < 10) {  
    minutes = '0' + minutes;  
   }  
   if (seconds < 10) {  
    seconds = '0' + seconds;  
   }  
   if (milli < 100) {  
    milli = '0' + milli;  
   }  
   if (milli < 10) {  
    milli = '0' + milli;  
   }  
   return '"' + year + '-' + month + '-' + day + 'T'  
     + hours + ':' + minutes + ':' + seconds + '.'  
     + milli + 'Z"';  
  }  
  if (o.constructor === Array) {  
   var ret = [];  
   for (var i = 0; i < o.length; i++) {  
    ret.push($.toJSON(o[i]) || 'null');  
   }  
   return '[' + ret.join(',') + ']';  
  }  
  var name, val, pairs = [];  
  for (var k in o) {  
   type = typeof k;  
   if (type === 'number') {  
    name = '"' + k + '"';  
   } else if (type === 'string') {  
    name = $.quoteString(k);  
   } else {  
    // Keys must be numerical or string. Skip others  
    continue;  
   }  
   type = typeof o[k];  
   if (type === 'function' || type === 'undefined') {  
    // Invalid values like these return undefined  
    // from toJSON, however those object members  
    // shouldn't be included in the JSON string at all.  
    continue;  
   }  
   val = $.toJSON(o[k]);  
   pairs.push(name + ':' + val);  
  }  
  return '{' + pairs.join(',') + '}';  
 }  
};  
/** 
* jQuery.evalJSON Evaluates a given piece of json source. 
* 
* @param src 
* {String} 
*/  
$.evalJSON = typeof JSON === 'object' && JSON.parse  
? JSON.parse  
: function(src) {  
 return eval('(' + src + ')');  
};  
/** 
* jQuery.secureEvalJSON Evals JSON in a way that is *more* secure. 
* 
* @param src 
* {String} 
*/  
$.secureEvalJSON = typeof JSON === 'object' && JSON.parse  
? JSON.parse  
: function(src) {  
 var filtered = src  
   .replace(/\\["\\\/bfnrtu]/g, '@')  
   .replace(  
     /"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g,  
     ']').replace(/(?:^|:|,)(?:\s*\[)+/g, '');  
 if (/^[\],:{}\s]*$/.test(filtered)) {  
  return eval('(' + src + ')');  
 } else {  
  throw new SyntaxError('Error parsing JSON, source is not valid.');  
 }  
};  
/** 
* jQuery.quoteString Returns a string-repr of a string, escaping quotes 
* intelligently. Mostly a support function for toJSON. Examples: >>> 
* jQuery.quoteString('apple') "apple" 
* 
* >>> jQuery.quoteString('"Where are we going?", she asked.') "\"Where are 
* we going?\", she asked." 
*/  
$.quoteString = function(string) {  
if (string.match(escapeable)) {  
return '"' + string.replace(escapeable, function(a) {  
   var c = meta[a];  
   if (typeof c === 'string') {  
    return c;  
   }  
   c = a.charCodeAt();  
   return '\\u00' + Math.floor(c / 16).toString(16)  
     + (c % 16).toString(16);  
  }) + '"';  
}  
return '"' + string + '"';  
};  
$.json_encode = $.toJSON;  
$.json_decode = $.evalJSON;  
    var mapObj  = new AMap.Map('container', {
        resizeEnable: true,
        zoom:11,
        center: [116.397428, 39.90923]
    });
    
    
   <!--{foreach $cities as $key=>$city}-->
   
	    var city_en = '<!--{$city.city_en}-->'
	    var lineSearchTool = {};
	    mapObj.plugin(['AMap.LineSearch'], function(){
				var lineSearchTool = new AMap.LineSearch({
				pageIndex: 1,
				city: "<!--{$city.city_cn}-->",
				pageSize: 1,
				extensions: 'all'
			});
				
				  //根据城市获取地铁线路
			    $.ajax({ url: "http://api.house.leju.com/api/map/getsearchoptions",
			    		dataType: "jsonp", 
			    		data:{city:city_en,'return':"jsonp"},
						success: function(data){
							if(typeof(data.data.subway) != 'undefined') {
								subway = data.data.subway.value;
								console.log(subway)
								for(i = 0;i<subway.length;i++) {
									(function(){
										var line = subway[i].value;
										var pid =  subway[i].key;
										
										console.log(line);
										console.log(pid);
										if(line) {
										    lineSearchTool.search(line, function(status, result) {
												if (status === 'complete' && result.info === 'OK' && result.lineInfo && result.lineInfo.length) {
													var lineInfo = result.lineInfo[0];
													var stations = lineInfo.via_stops;
													console.log(stations)
													$.post("/tool/map/saveStation",{"pid":pid,"city":'<!--{$city.city_en}-->',"data":$.json_encode(stations)},function(data){
														
													})
												}
											});
										}
									})(i);
								}
							}
		     			},
		     			error:function(){
		     				alert("请求失败");
		     			}
			    });	
		});
	  
	    
	    
    <!--{/foreach}-->

    

    
</script>
</body>
</html>