<p>队列运行功能</p>
<head>
	<link href="/bootstrapAce/css/bootstrap.min.css" rel="stylesheet" />
<!-- 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
</head>

<script type="text/javascript">

</script>

				
					<form action="" method="post" id='form'>
					 <button type="submit" class="btn btn-default" name="run" value="1">运行队列</button><span>只有在liunx 下才能使用，windows会报错</span>

					 <button type="submit" class="btn btn-default" name="stop" value="1">平滑停止</button><span>(推荐，注意：进程不会立即停止，耐心等待一分钟)</span>
					 <button type="submit" class="btn btn-default" name="stop" value="2">立即停止</button> <span> pid:<input type="text" name="pid"></span>

					</form>

				


